<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <%if @paginated_users.empty?%>
      <tr>
        <td>There's nothing here.</td>
      </tr>
    <%else%>
    <% @paginated_users.each do |user| %>
      <tr>
        <td><%= user['id'] %></td>
        <td><%= user['name'] %></td>
        <td><%= user['age']%></td>
        <td><%= user['email'] %></td>
      </tr>
    <% end %>
    <%end%>
  </tbody>
</table>

<%= paginate @paginated_users, theme: 'bootstrap-5'%>